__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
__pycache__/
build/
dist/
*.spec
*.db
*.sqlite3
*.log
.vscode/
.idea/
.DS_Store
mainwindow.ui
event_form.ui
Thumbs.db
!ner_crf.model
!requirements.txt
!main.py